{% if url %}
  <a
    href="{{ url }}"
    class="{{ link_class }}"
    {% if tabindex %}
      tabindex="0"
    {% endif %}
  >
{% endif %}

{%- capture icon -%}
    {%- capture shared_svg_attrs -%}
        class="svg-icon svg-icon--{{ id | replace: '_', '-' }} {% if icon_class %}{{ icon_class }}{% endif %}"
        aria-hidden="true"
        id="{{ icon_id }}"
        focusable="false"
        role="presentation"
        xmlns="http://www.w3.org/2000/svg"
        data-icon-theme="custom"
        fill="currentColor"
    {%- endcapture -%}

    {% assign icon_name = id | replace: '-', '_' %}
    {% assign icon_name = 'general.icons.' | append: icon_name %}
    {% assign icon_name = icon_name | t %}

    {% capture icon_title %}
        <title>{{ 'general.icons.icon_title' | t: name: icon_name }}</title>
    {% endcapture %}

    {% render 'icon-common', id: id, icon_id: icon_id, icon_class: icon_class, url: url, link_class: link_class, shared_svg_attrs: shared_svg_attrs %}

    {% if id == 'bag' %}
        <svg {{ shared_svg_attrs }} width="28" height="28" viewBox="0 0 24 24">
            {{ icon_title }}
            <path d="M9 6L10.4 7.86667C11.2 8.93333 12.8 8.93333 13.6 7.86667L15 6M4.36092 21H19.6391C20.875 21 21.815 19.8903 21.6119 18.6712L19.2785 4.6712C19.1178 3.70683 18.2834 3 17.3057 3H6.69425C5.71658 3 4.8822 3.70683 4.72147 4.6712L2.38813 18.6712C2.18496 19.8903 3.12504 21 4.36092 21Z" stroke="currentColor" stroke-width="1.5" fill="none"/>
        </svg>
    {% endif %}

    {% if id == 'user' %}
        <svg {{ shared_svg_attrs }} width="28" height="28" viewBox="0 0 24 24">
            {{ icon_title }}
            <path d="M6 21V19C6 17.9391 6.42143 16.9217 7.17157 16.1716C7.92172 15.4214 8.93913 15 10 15H14C15.0609 15 16.0783 15.4214 16.8284 16.1716C17.5786 16.9217 18 17.9391 18 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round" fill="none"/>
        </svg>
    {% endif %}

    {% if id == 'bars' %}
        <svg {{ shared_svg_attrs }} width="28" height="28" viewBox="0 0 28 28">
            {{ icon_title }}
            <!-- PLACEHOLDER: Replace with your custom menu/hamburger icon SVG path -->
            <g>
                <rect x="4" y="6" rx="1" height="2" width="20"/>
                <rect x="4" y="13" rx="1" height="2" width="20"/>
                <rect x="4" y="20" rx="1" height="2" width="20"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'search' %}
        <svg {{ shared_svg_attrs }} width="28" height="28" viewBox="0 0 24 24">
            {{ icon_title }}
            <path d="M22 22L20 20M2 11.5C2 6.25329 6.25329 2 11.5 2C16.7467 2 21 6.25329 21 11.5C21 16.7467 16.7467 21 11.5 21C6.25329 21 2 16.7467 2 11.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round" fill="none"/>
        </svg>
    {% endif %}

{%- endcapture -%}

{% if style %}
  <div style="{{ style }}">
    {{ icon }}
  </div>
{% else %}
  {{ icon }}
{% endif %}

{% if url %}
  </a>
{% endif %}