<ul
  class="wt-page-nav-mega__list wt-page-nav-mega__list--center"
>
  {%- for link in section.settings.menu.links -%}
    {% assign menu_class = '--simple' %}
    {% assign show_mega = false %}
    {% assign promo_blocks = false %}
    {% assign show_product_mega = false %}
    {% assign product_mega_block = null %}

    {% if blocks.size > 0 %}
      {% for block in blocks %}
        {% assign megamenu_trigger = block.settings.title | handle | strip %}
        {% if link.handle == megamenu_trigger %}
          {% assign show_mega = true %}
          {% assign mega_block = block %}
          {% assign menu_class = '--mega' %}
          
          {% if block.type == 'products' %}
            {% assign show_product_mega = true %}
            {% assign product_mega_block = block %}
          {% elsif mega_block.settings.desktop_image_1
            or mega_block.settings.desktop_image_2
            or mega_block.settings.desktop_image_3
            or mega_block.settings.desktop_image_4
            or mega_block.settings.desktop_image_5
            or mega_block.settings.desktop_image_6
          %}
            {% assign promo_blocks = true %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {%- if link.links != blank or promo_blocks or show_product_mega -%}
      <li
        class="wt-page-nav-mega__item wt-page-nav-mega__item--parent wt-page-nav-mega__item{{ menu_class }}"
      >
        <a
          href="{{ link.url }}"
          tabindex="-1"
          data-menu-level="1"
          class="wt-page-nav-mega__link wt-page-nav-mega__link--parent slide-hover {% if link.current %} wt-page-nav-mega__link--active{% endif %}"
        >
          <span class="wt-page-nav-mega__link__text wt-page-nav-mega__link__text--underline slide-wrapper">
            <span class="slide-text">{{- link.title | escape -}}</span>
            <span class="slide-text">{{- link.title | escape -}}</span>
          </span>
          {% render 'icons', id: 'plus' %}
          {% render 'icons', id: 'arrow-down' %}
        </a>
        <div class="wt-page-nav-mega__sublist__wrapper wt-page-nav-mega__sublist__wrapper{{ menu_class }}">
          <ul class="wt-page-nav-mega__sublist{% if show_product_mega and link.links == blank %} wt-page-nav-mega__sublist--products-only{% endif %}">
            {%- unless show_product_mega and link.links == blank -%}
            {%- for childlink in link.links -%}
              {%- if childlink.links == blank -%}
                <li class="wt-page-nav-mega__sublist__item wt-page-nav-mega__sublist__item--child">
                  <a
                    href="{{ childlink.url }}"
                    data-menu-level="2"
                    tabindex="-1"
                    class="wt-page-nav-mega__sublist__link  {% if link.current %} wt-page-nav-mega__sublist__link--active{% endif %}"
                    ><span class="wt-page-nav-mega__decorated">{{ childlink.title | escape }}</span></a
                  >
                </li>
              {%- else -%}
                <li
                  class="wt-page-nav-mega__sublist__item wt-page-nav-mega__sublist__item--child wt-page-nav-mega__sublist--parent"
                >
                  <a
                    href="{{ childlink.url }}"
                    data-menu-level="2"
                    tabindex="-1"
                    class="wt-page-nav-mega__sublist__link wt-page-nav-mega__sublist__link--parent {% if childlink.current %} wt-page-nav-mega__sublist__link--active{% endif %}"
                  >
                    <span class="wt-page-nav-mega__decorated">{{ childlink.title | escape }}</span>
                    {% render 'icons', id: 'plus' %}
                    {% render 'icons', id: 'arrow-right' %}
                  </a>
                  <ul class="wt-page-nav-mega__sublist wt-page-nav-mega__sublist--nested">
                    {%- for grandchildlink in childlink.links -%}
                      <li
                        class="wt-page-nav-mega__sublist__item wt-page-nav-mega__sublist__item--grandchild"
                      >
                        <a
                          href="{{ grandchildlink.url }}"
                          data-menu-level="3"
                          class="wt-page-nav-mega__sublist__link"
                          tabindex="-1"
                        >
                          <span class="wt-page-nav-mega__decorated">{{ grandchildlink.title | escape }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </li>
              {%- endif -%}
            {%- endfor -%}
            {%- endunless -%}
            {% if show_mega and show_product_mega == false %}
              <li
                data-block-id="{{ mega_block.id }}"
                class="wt-page-nav-mega__sublist__item wt-page-nav-mega__sublist__item--gallery"
              >
                <ul class="mega-menu__gallery">
                  {% assign promo_images_count = 0 %}
                  {% for i in (1..6) %}
                    {% assign key = 'desktop_image_' | append: i %}
                    {% if mega_block.settings[key] %}
                      {% assign promo_images_count = promo_images_count | plus: 1 %}
                      <li class="mega-menu__gallery__item">
                        {% assign link_key = 'link_' | append: i %}
                        <a
                          href="{{ mega_block.settings[link_key] | downcase }}"
                          class="mega-menu__gallery__link"
                          data-menu-level="2"
                          tabindex="-1"
                        >
                          <picture class="mega-menu__gallery__picture">
                            <img
                              class="mega-menu__gallery__img"
                              srcset="
                                {% if mega_block.settings[key].width >= 400 %}{{ mega_block.settings[key] | image_url: width: 400 }} 400w, {% endif %}
                                {% if mega_block.settings[key].width >= 800 %}{{ mega_block.settings[key] | image_url: width: 800 }} 800w, {% endif %}
                                {% if mega_block.settings[key].width >= 1200 %}{{ mega_block.settings[key] | image_url: width: 1200 }} 1200w, {% endif %}
                                {% if mega_block.settings[key].width >= 1600 %}{{ mega_block.settings[key] | image_url: width: 1600 }} 1600w, {% endif %}
                                {{ mega_block.settings[key] | image_url: width: 800 }} 800w
                              "
                              sizes="(min-width: 800px) 800px, 100vw"
                              src="{{ mega_block.settings[key] | image_url: width: 800 }}"
                              alt="{{ mega_block.settings[key].alt | escape }}"
                              loading="lazy"
                            >
                            {% assign heading_key = 'heading_' | append: i %}
                            <span class="mega-menu__gallery__heading wt-page-nav-mega__decorated">
                              {{- mega_block.settings[heading_key] -}}
                            </span>
                            {% assign text_key = 'text_' | append: i %}
                            <p class="mega-menu__gallery__caption">{{ mega_block.settings[text_key] }}</p>
                          </picture>
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% if promo_images_count > 0 %}
                <style>
                  [data-block-id='{{ mega_block.id }}'] {
                    --promo-columns: span {{mega_block.settings.promo_section_width}};
                  }
                </style>
              {% endif %}
            {% endif %}
            {% if show_product_mega %}
              <li
                data-block-id="{{ product_mega_block.id }}"
                class="wt-page-nav-mega__sublist__item wt-page-nav-mega__sublist__item--gallery"
              >
                <!-- Mobile Shop All Link -->
                <div class="mega-menu__mobile-shop-all">
                  <a href="{{ link.url }}" class="mega-menu__mobile-shop-all-link" data-menu-level="2" tabindex="-1">
                    Shop All
                  </a>
                </div>

                <ul class="mega-menu__gallery">
                  <!-- Desktop Shop All Column -->
                  <li class="mega-menu__gallery__item mega-menu__shop-all-column">
                    <div class="mega-menu__shop-all">
                      <h2 class="mega-menu__shop-all-title">{{ link.title | upcase }}</h2>
                      {% render 'custom-button', 
                        text: 'Shop All',
                        type: 'link',
                        url: link.url,
                        style: 'primary',
                        id: 'mega-menu-shop-all',
                        class: 'mega-menu__shop-all-button'
                      %}
                    </div>
                  </li>
                  
                  <!-- Product Cards -->
                  {% for i in (1..4) %}
                    {% assign product_key = 'product_' | append: i %}
                    {% assign current_product = product_mega_block.settings[product_key] %}
                    {% if current_product != blank %}
                      <li class="mega-menu__gallery__item">
                        <a href="{{ current_product.url }}" class="mega-menu__gallery__link" data-menu-level="2" tabindex="-1">
                          <picture class="mega-menu__gallery__picture">
                            {% if current_product.featured_image %}
                              <img
                                class="mega-menu__gallery__img"
                                srcset="
                                  {% if current_product.featured_image.width >= 400 %}{{ current_product.featured_image | image_url: width: 400 }} 400w, {% endif %}
                                  {% if current_product.featured_image.width >= 800 %}{{ current_product.featured_image | image_url: width: 800 }} 800w, {% endif %}
                                  {% if current_product.featured_image.width >= 1200 %}{{ current_product.featured_image | image_url: width: 1200 }} 1200w, {% endif %}
                                  {{ current_product.featured_image | image_url: width: 800 }} 800w
                                "
                                sizes="(min-width: 800px) 800px, 100vw"
                                src="{{ current_product.featured_image | image_url: width: 800 }}"
                                alt="{{ current_product.featured_image.alt | escape }}"
                                loading="lazy"
                              >
                            {% else %}
                              {{ 'product-apparel-1' | placeholder_svg_tag: 'mega-menu__gallery__img' }}
                            {% endif %}
                            <div class="mega-menu__gallery__info">
                              <p class="mega-menu__gallery__caption">{{ current_product.title }}</p>
                              <p class="mega-menu__gallery__price">
                                {% if settings.currency_code_enabled %}
                                  {{ current_product.price | money_with_currency }}
                                {% else %}
                                  {{ current_product.price | money }}
                                {% endif %}
                              </p>
                            </div>
                          </picture>
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </li>

    {%- else -%}
      <li class="wt-page-nav-mega__item">
        <a
          href="{{ link.url }}"
          data-menu-level="1"
          tabindex="-1"
          class="wt-page-nav-mega__link slide-hover {% if link.current %} wt-page-nav-mega__link--active{% endif %}"
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          <span class="wt-page-nav-mega__link__text wt-page-nav-mega__link__text--underline slide-wrapper">
            <span class="slide-text">{{- link.title | escape -}}</span>
            <span class="slide-text">{{- link.title | escape -}}</span>
          </span>
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
